.source {
    border-bottom: 1px dashed #000;
    position: relative;
    padding: 25px 25px 5px 50px;
}

.add-source {
    position: absolute;
    right: 0;
    top: 25px;
}

.add-source a.remove {
    background-color: red;
    color: #fff !important;
    border: 1px solid #fff;
    padding: 7px 30px;
    cursor: pointer;
}

.add-source a.add {
    background-color: green;
    color: #fff !important;
    border: 1px solid #fff;
    padding: 7px 30px;
    cursor: pointer;
}

.add-source a.remove:hover {
    background-color: #fff;
    color: red !important;
    border: 1px solid red;
    text-decoration: none;
}

.add-source a.add:hover {
    background-color: #fff;
    color: green !important;
    border: 1px solid green;
    text-decoration: none;
}

span {
    position: absolute;
    top: 25px;
    left: 0px;
    font-size: 20px;
    line-height: 28px;
    background-color: #333333;
    color: #fff;
    padding: 3px 7px;
}

.source p {
    margin-bottom: 5px;
}

.source:last-child {
    border-bottom: 0;
}

h4 a:hover {
    text-decoration: none;
}